* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.header {
  height: 64px;
  background-color: #f1f1f1;
  padding: 10px;
}

.main {
  display: flex;
  height: calc(100vh - 64px);
}

.sidebar {
  width: 500px;
  background-color: #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.map {
  flex-grow: 1;
  background-color: #bbb;
  padding: 10px;
}

.footer {
  height: 64px;
  background-color: #f1f1f1;
  padding: 8px;
  display: flex;
  justify-content: space-between;

  img {
    margin-right: 10px;
  }
}

form {
  flex: 0 0 auto;
  margin-bottom: 20px;
}

.table-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
}

th, td {
  text-align: right;
  padding: 0 15px 5px 5px;
  border: 0;
}

.known {
  text-decoration:underline;
  text-decoration-style: dotted;
  cursor: pointer;
}
